<footer>
	<div class='wrapper grid-3'>
		<div>
			<h5 class='no-wrap'>Strony :</h5>
			<ul>
				<li><a href='#'>Główna</a></li>
				<li><a href='./offer.html'>Oferta</a></li>
				<li><a href='#'>Doświadczenie</a></li>
				<li><a href='#'>Galeria</a></li>
				<li><a href='#'>Praca</a></li>
				<li><a href='#'>Kontakt</a></li>
			</ul>
		</div>
		<div class='footer-info'>
			<p>Tel: +48 44 714 03 54 Kom: +48 604 2000 14 biuro@geodezja-geomap.pl</p>
			<p>GEOMAP Halina Kurp geodeta uprawniony ul. 3 Maja 8 95-040 Koluszki NIP: 773-107-45-19</p>
		</div>
		<div class='footer-map'></div>
	</div>
</footer>