<section id='logos'>
	<div class='wrapper'>
		<h4 class=''>Mieliśmy przyjemność pracować dla:</h4>
		<div class='swiper2'>
			<!-- Additional required wrapper -->
			<div class='swiper-wrapper'>
				<!-- Slides -->
				<div class='swiper-slide'>
					<img src='/logos/1.jpg' alt='' />
				</div>

				<div class='swiper-slide'>
					<img src='/logos/2.jpg' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/3.png' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/4.png' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/5.png' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/6.png' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/7.png' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/8.png' alt='' />
				</div>
				<div class='swiper-slide'>
					<img src='/logos/9.jpg' alt='' />
				</div>
			</div>
			<!-- If we need pagination -->
			<div class='swiper-pagination'></div>

			<!-- If we need navigation buttons -->
			<!-- <div class="swiper-button swiper-button-prev"></div>
						<div class="swiper-button swiper-button-next"></div> -->

			<!-- If we need scrollbar -->
			<div class='swiper-scrollbar'></div>
		</div>
	</div>
</section>