@use '../composition/colors' as *;
@use '../composition/mixins' as *;
.main-navbar {
	position: fixed;
	@include mq(desktop) {
		height: 5rem;
	}
	height: 4rem;

	top: 0.3rem;
	width: 100%;
	left: 0;

	z-index: 30;
	transition: all ease-in-out 0.3s;
	.wrapper {
		@media (max-width: 50em) {
			padding: inherit;
		}

		text-transform: uppercase;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.brand {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 900;
			display: flex;
			svg {
				height: 90%;
			}
		}
		nav {
			display: flex;
			height: 100%;
			ul {
				display: none;
				@include mq(desktop) {
					display: flex;
				}

				height: 100%;
				word-wrap: none;
				white-space: nowrap;
				justify-content: space-between;
				li {
					height: 100%;
					padding: 0;
					display: flex;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						margin: 0;
						padding-right: var(--space-2xs);
						padding-left: var(--space-2xs);
						position: relative;
						transition: 0.3s ease-in-out all;
						position: relative;
						&::after {
							content: '';
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							width: 0%;
							height: 2px;
							background: $primary;
							color: #ddd;
							transition: width ease-in-out 0.2s;
						}
						&::before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translateX(-50%);
							width: 0%;
							height: 2px;
							background: $pale;
							transition: width ease-in-out 0.3s;
						}

						&:hover {
							color: $primary;
							&::after {
								background: $primary;
								width: 90%;
							}
							&::before {
								background: $pale;
								width: 100%;
							}
						}
					}
				}
			}
			.language {
				border-left: solid 2px rgba(#eee, 0);
				padding-left: var(--space-s);
				padding-right: var(--space-s);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all ease-in-out 0.3s;
				svg {
					transition: transform ease-in-out 0.3s;
					width: 1.5rem;
					box-shadow: 0px 0px 3px $primary;
				}
				&:hover {
					svg {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
.scrolled {
	filter: drop-shadow(0px 0px 0.3rem rgba(#2c2c2c, 0.3));
	height: 4rem;
	background: white;
	.language {
		border-left: solid 2px rgba(#eee, 0.9) !important;
	}
}
.menu-icon {
	@include mq(desktop) {
		display: none;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 1rem;
	svg {
		height: 1.5rem;
	}
}
.rounded {
	border-radius: 50px !important;
	overflow: hidden;
}
