@use '../composition/colors' as *;
#numbers {
	.wrapper {
		background: $dark;
		position: relative;
		// background: linear-gradient(to right, #2c2c2c, rgba($dark, 1));
		img {
			position: absolute;
			right: 0;
			top: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
			z-index: 0;
			clip-path: polygon(100% 100%, 50% 100%, 50% 50%, 39% 0, 100% 0);
			opacity: 0.3;
		}
	}
}
.number {
	z-index: 1;
	display: flex;
	align-items: center;
	// background: $dark;
	color: $pale;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: left;
	color: white;
	h1 {
		z-index: 1;
		padding-left: var(--space-xs);
		word-wrap: break-word;
		max-width: 100%;

		@media (max-width: 50em) {
			font-size: 2.5rem;
		}
	}
	svg {
		width: 4ch;
	}
}
