@use './composition/mixins';
@use './composition/normalizer';
@use './composition/typography';
@use './composition/layout';
@use './composition/colors' as *;
@use './composition/accordion';
@use './composition/contact-link';
@use './composition/link';

// Blocks
@use './blocks/forms';

@use './blocks/preloader';
@use './blocks/hero';
@use './blocks/navbar';
@use './blocks/numbers';
@use './blocks/scrollIndicator';
@use './blocks/about';
@use './blocks/footer';
@use './blocks/btn';
@use './blocks/logos';
@use './blocks/up';
@use './blocks/cookies';
@use './blocks/single';
@use './blocks/sidebar';
@use './blocks/page';
@use './blocks/card';
@use './blocks/contactinfo';
@use './blocks/social';
@use './blocks/hours';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.top {
	height: 1px;
	background: $primary;
	opacity: 0;
}

body {
	// background: url('https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background: url('/bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
}
.cp {
}
main {
	// background: rgba(#fff, 0.6);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	& img {
		position: inherit;
		max-width: 100%;
	}
}
:host .swiper-pagination {
	pointer-events: all !important;
}
.test {
	background: purple;
}
.hidden {
	visibility: hidden !important;
}
.sect {
	min-height: 100vh;
	display: grid;
	place-content: center;
}
.target {
	background: #2c2c2c;
	min-height: 500px;
	display: grid;
	place-items: center;
	color: white;
}
.no-wrap {
	white-space: nowrap;
}

.hide {
	display: none !important;
}
.text-center {
	text-align: center !important;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.w-full {
	width: 100% !important;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
